
*{
    font-family: serif;
    
}
body{
    background-color: rgb(255, 255, 255);
}
main{
    width: 100%;
    background-color: rgb(255, 255, 255);
}
header{
    width: 100%;
    background-color: rgb(255, 255, 255);
}
header img{
    width: 150px;
    margin-left: 45%;
    
}
nav{
    height: 62px;
}
.divnavpac{
    display: flex;
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
    position: absolute;
    width: 64px;
    height: 63px;
    padding: 5px;
}
.divnavpac img{
    position: absolute;
    width: 60px;
}
#isocircle{
    
}
#isopac{
    opacity: 0;
}
#isopac:hover{
    transition: .2s;
    opacity: 1;
}
#isopac:active{
    transform: scale(.8);
}
.mainnav{
    display: flex;
    margin-left: 76px;
    display: flex;
    width: 93%;
    height: 100%;
    padding: 5px;
    background-color: rgb(31, 31, 31);
    border-radius: 7px; 
}
#buttonone{
    position: absolute;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 66px;
    margin-top: -2px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#buttonone span{
    color: white;
    position: relative;
   background-color: rgb(31, 31, 31);
   padding: 1px;
   border-radius: 52px;
}
#buttonone:hover span{
    
    color: black;
    background-color: white;
    padding: 35px;
    transition: .3s ease;
    height: 10px;
 }

 #buttonone span:active {
    transform: scale(.98);
    transition: .03s;
    padding: 5px;color: rgb(196, 196, 196);
    
  }
#buttontwo{
    position: absolute;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 66px;
    margin-top: -2px;
    margin-left: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#buttontwo span{
    color: white;
    position: relative;
   background-color: rgb(31, 31, 31);
   padding: 1px;
   border-radius: 52px;
}
#buttontwo:hover span{
    
    color: black;
    background-color: white;
    padding: 35px;
    transition: .3s ease;
    height: 10px;
 }
 #buttontwo:active {
    transform: scale(.95);
    transition: .0s;
    padding: 5px;
  }